{% extends 'dashboard_base.html' %}

{% block dashboard_content %}
<div class="card bg-base-300 w-full shadow-sm my-4">
    <div class="card-body">
        <h2 class="card-title">Pesanan Laundry Baru</h2>
            <div class="divider divider-info"></div>

            <form action="" method="post">
                {% csrf_token %}
                <fieldset class="fieldset">
                    <legend class="fieldset-legend">Pelanggan <span class="text-red-500">*</span></legend>
                    <input type="text" class="input w-full" placeholder="Type here" required name="customer"/>
                    <p class="fieldset-label">Masukkan username pelanggan atau buatkan username baru dengan nama pelanggan</p>
                </fieldset>

                <fieldset class="fieldset">
                    <legend class="fieldset-legend">No Telpon</legend>
                    <input type="tel" class="input w-full" name="phone" pattern="^08\d{8,13}$" placeholder="08xxxxxxxxx" maxlength="13"/>
                    <p class="fieldset-label">Jika pelanggan baru, masukkan saja no telponnya</p>
                </fieldset>

                <fieldset class="fieldset">
                    <legend class="fieldset-legend">Tanggal Selesai <span class="text-red-500">*</span></legend>
                    <input type="date" class="input w-full" required name="completion_date"/>
                </fieldset>

                <fieldset class="fieldset">
                    <legend class="fieldset-legend">Kuantitas (dalam Kilogram) <span class="text-red-500">*</span></legend>
                    <label class="input w-full">
                        <input type="number" class="grow" min="3" step="0.1" required name="quantity"/>
                        <span>Kg</span>
                    </label>
                    <p class="fieldset-label">Bobot minimal adalah 3 Kg. Dibawah 3 Kg dianggap 3 Kg</p>
                </fieldset>

                <fieldset class="fieldset">
                    <legend class="fieldset-legend">Harga per Kilogram <span class="text-red-500">*</span></legend>
                    <label class="input w-full">
                        <span>Rp.</span>
                        <input id="price" type="number" class="grow" placeholder="Harga per Kg" list="price-list" min="0" name="price" required/>
                    </label>
                    <datalist id="price-list">
                        <option value="7500">
                        <option value="10500">
                        <option value="6000">
                        <option value="5500">
                    </datalist>
                    <p class="fieldset-label">Harga dapat dilakukan penyesuaian</p>
                </fieldset>

                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>

    </div>
</div>
{% endblock %}