{% extends 'dashboard_base.html' %}

{% block dashboard_content %}
    {% for laundry in laundries %}
        <div class="card bg-base-300 w-full shadow-sm my-4">
            <div class="card-body">
                <h2 class="card-title">Order No: {{ laundry.id }}</h2>
                <div class="divider divider-info"></div>

                <p><b>Pemilik:</b> {{laundry.customer.profile.name}}</p>
                <p><b>Diterima Tanggal:</b> {{ laundry.received_date }}</p>
                <p><b>Perkiraan Selesai:</b> {{laundry.expected_completion_date}}</p>
                <p><b>Berat cucian:</b> {{laundry.laundryitem.quantity}} Kg</p>
                <p><b>Status Terakhir:</b> {{laundry.status}} </p>
                <ul class="timeline min-w-full items-center justify-center">
                    <li>
                        <div class="timeline-start timeline-box">Received</div>
                        <div class="timeline-middle">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="text-secondary h-5 w-5">
                            <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                        </svg>
                        </div>
                        <hr class="bg-secondary" />
                    </li>
                    <li>   
                        <hr class="bg-{% if laundry.status == 'washing' or laundry.status == 'drying' or laundry.status == 'ironing' or laundry.status == 'completed' %}secondary{% else %}primary{% endif %}" />
                        <div class="timeline-middle">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="text-{% if laundry.status == 'washing' or laundry.status == 'drying' or laundry.status == 'ironing' or laundry.status == 'completed'  %}secondary{% else %}primary{% endif %} h-5 w-5">
                            <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                        </svg>
                        </div>
                        <div class="timeline-end timeline-box">Washing</div>
                        <hr class="bg-{% if laundry.status == 'washing' or laundry.status == 'drying' or laundry.status == 'ironing' or laundry.status == 'completed' %}secondary{% else %}primary{% endif %}" />
                    </li>
                    <li>
                        <hr class="bg-{% if laundry.status == 'drying' or laundry.status == 'ironing' or laundry.status == 'completed' %}secondary{% else %}primary{% endif %}" />
                        <div class="timeline-start timeline-box">Drying</div>
                        <div class="timeline-middle">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="text-{% if laundry.status == 'drying' or laundry.status == 'ironing' or laundry.status == 'completed' %}secondary{% else %}primary{% endif %} h-5 w-5">
                            <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                        </svg>
                        </div>
                        <hr class="bg-{% if laundry.status == 'drying' or laundry.status == 'ironing' or laundry.status == 'completed' %}secondary{% else %}primary{% endif %}"/>
                    </li>
                    <li>
                      <hr class="bg-{% if laundry.status == 'ironing' or laundry.status == 'completed' %}secondary{% else %}primary{% endif %}"/>
                      <div class="timeline-middle">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="h-5 w-5 text-{% if laundry.status == 'ironing' or laundry.status == 'completed' %}secondary{% else %}primary{% endif %}">
                          <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                        </svg>
                      </div>
                      <div class="timeline-end timeline-box">Ironing</div>
                      <hr class="bg-{% if laundry.status == 'ironing' or laundry.status == 'completed' %}secondary{% else %}primary{% endif %}"/>
                    </li>
                    <li>
                      <hr class="bg-{% if laundry.status == 'completed' %}secondary{% else %}primary{% endif %}" />
                      <div class="timeline-start timeline-box">Completed</div>
                      <div class="timeline-middle">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="h-5 w-5 text-{% if laundry.status == 'completed' %}secondary{% else %}primary{% endif %}">
                          <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                        </svg>
                      </div>
                    </li>
                </ul>
                {% if user_settings.role == 'staff' %}
                <div class="card-actions justify-end">
                    <a href="{% url 'update-order' laundry.id %}"><button class="btn btn-primary">Update</button></a>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    
{% endblock %}