{% extends 'base.html' %}

{% block content %}
<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Page content here -->
    <div class="mb-5">
      <div class="navbar bg-base-200 shadow-sm">
        <a class="btn btn-ghost text-xl">Laundry Django</a>
      </div>
      <div class="mx-10 mt-5">
        {% block dashboard_content %} {% endblock %}
      </div>
    </div>
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden mx-8">
      Buka Menu
    </label>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4 flex flex-col">
      <!-- Sidebar content here -->
      {% if user_settings.role == 'staff' %}
        <li><a href="{% url 'create-order' %}" class="{% if request.resolver_match.url_name == 'create-order' %}menu-active{% endif %}">Laundry Baru</a></li>
      {% endif %}
      <li><a href="{% url 'laundry-order' %}" class="{% if request.resolver_match.url_name == 'laundry-order' or request.resolver_match.url_name == 'laundry-detail' or request.resolver_match.url_name == 'laundry-update' %}menu-active{% endif %}">Daftar Laundry</a></li>
      <div class="mt-auto">
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button class="btn btn-error w-full ">Logout</button>
        </form>
      </div>
    </ul>
    
  </div>
</div>
{% endblock %}